<web-app>
    <display-name>Wink demo</display-name>
    <description>Demonstration of SDK features</description>

    <!-- Wink SDK servlet configuration.
        This servlet handles HTTP requests
        of SDK web service on application server.-->

    <servlet>
        <servlet-name>restSdkService</servlet-name>
        <servlet-class>
            org.apache.wink.server.internal.servlet.RestServlet
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>cn.bc.rest.wink.RestApplication</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>restSdkService</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.access.ViewStatusMessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStatusMessages</servlet-name>
        <url-pattern>/log/status</url-pattern>
    </servlet-mapping>
</web-app>